<?xml version="1.4" ?>
<robot name="cargo_box">

    
    <link name="imu_link">

		<inertial>
			<mass value="0" />

			<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
		</inertial>
	</link>

    <joint name="imu_dummy" type="fixed">
		<parent link="base_link" />
		<child link="imu_link" />
	</joint>

    <gazebo>
        <plugin name="gazebo_ros_imu" filename="libgazebo_ros_imu.so">
            <alwaysOn>true</alwaysOn>
            <bodyName>imu_link</bodyName>
            <topicName>imu_data_cargo</topicName>
            <serviceName>imu_service_cargo</serviceName>
            <gaussianNoise>0.0</gaussianNoise>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
            <updateRate>1000.0</updateRate>
        </plugin>

        <plugin name="p3d_controller" filename="libgazebo_ros_p3d.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>1000</updateRate>
			<bodyName>base_link</bodyName>
			<topicName>p3d_cargo</topicName>
		</plugin>
    </gazebo>

    

</robot>